<div class="row">
  <div class="col-md-6 offset-md-3">
  	<h1><%= t('password_reset.form.forgot.title') %></h1>
  <%= form_with(scope: :password_reset, url: password_resets_path, local: true) do |f| %>
    <div class="form-group"> 
      <%= f.label :email, t('password_reset.form.forgot.email') %>
      <%= f.email_field :email, {placeholder: t('password_reset.form.forgot.email_placeholder'), class: 'form-control'} %>
    </div>
  <div class="form-group">
      <%= f.submit t('password_reset.form.forgot.submit'), class: 'btn btn-info' %>
      <%= link_to t('activerecord.session.form.login'), new_login_path %>
  </div>
  <%end%>
  </div>
</div>