<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-head">
          <tr>
            <th><%= t :email %></th>
            <th><%= t :name %></th>
            <th><%= t :rg %></th>
            <th><%= t :cpf %></th>
            <th><%= t :telephone %></th>
            <th><%= t :profile %></th>
            <th><%= t :buy_intention %></th>
          </tr>
        </thead>
        <tbody>
          <% @people.each do |person| %>
            <tr>
              <td><%= link_to person.email, edit_person_path(person) %></td>
              <td><%= person.name if person.name %><%= person.social_name if person.social_name && !person.name %></td>
              <td><%= person.rg %></td>
              <td><%= CPF.new(person.cpf).formatted if person.cpf %><%= CNPJ.new(person.cnpj).formatted if person.cnpj && !person.cpf? %></td>
              <td><%= person.telephones.first %></td>
              <td><%= person.profile.name %></td>
              <td><%= person.buy_intention.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination-center">
        <%= will_paginate @people, class: "pagination" %>
      </div>
    </div>
  </div>
</div>
