<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-head">
          <tr>
              <th>
            <%= sort_link(@q, :email) do %>
                <strong id="column-name"><%= t :email %></strong>
            <% end %>
              </th>
              <th>
            <%= sort_link(@q, :name) do %>
                <strong id="column-name"><%= t :name %></strong>
            <% end %>
              </th>
              <th>
            <%= sort_link(@q, :rg) do %>
                <strong id="column-name"><%= t :rg %></strong>
            <% end %>
              </th>
              <th>
            <%= sort_link(@q, :cpf) do %>
                <strong id="column-name"><%= t :cpf %></strong>
            <% end %>
              </th>
              <th>
            <%= sort_link(@q, :telephone) do %>
                <strong id="column-name"><%= t :telephone %></strong>
            <% end %>
              </th>
              <th>
            <%= sort_link(@q, :profile_name) do %>
                <strong id="column-name"><%= t :profile %></strong>
            <% end %>
              </th>
              <th>
            <%= sort_link(@q, :buy_intention_name) do %>
                <strong id="column-name"><%= t :buy_intention %></strong>
            <% end %>
              </th>
          </tr>
        </thead>
        <tbody id="list_content">
          <%= render @users || t('buy-here.no_data') %>
        </tbody>
      </table>
      <div class="pagination-center">
        <%= will_paginate @users, class: "pagination" %>
      </div>
    </div>
  </div>
</div>
