<%= render "search" %>

<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <div class="float-right col-md-3">
        <%= link_to t("activerecord.user.form.new"),
                    "#collapseForm", { class: "btn btn-primary col-md-8", "data-toggle": "collapse" } %>
      </div>
      <%= link_to t("activerecord.user.form.cancel"),
                  "#collapseForm", { class: 'btn btn-danger collapse offset-1', id: "collapseForm", "data-toggle": "collapse" } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="collapse" id="collapseForm">
        <%= render "new" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'list' %>
  </div>
</div>
