<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-head">
          <tr>
            <th><%= ransack_sort_link_helper(@q, :active, t('activerecord.products.code')) %></th>
            <th><%= ransack_sort_link_helper(@q, :active, t('activerecord.products.name')) %> </th>
            <th><%= ransack_sort_link_helper(@q, :active, t('activerecord.products.description')) %> </th>
            <th><%= ransack_sort_link_helper(@q, :active, t('activerecord.products.value')) %> </th>
          </tr>
        </thead>
        <tbody id="list-role">
          <%= render_collection_helper(@products) %>
        </tbody>
      </table>
      <div class="pagination-center">
        <%= will_paginate @products, class: "pagination" if @products %>
      </div>
    </div>
  </div>
</div>
